@font-face {
    font-family: 'lunchtype22';
    src: url('/assets/fonts/lunchtype22-regular-webfont.eot');
    src: url('/assets/fonts/lunchtype22-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lunchtype22-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/lunchtype22-regular-webfont.woff') format('woff'),
         url('/assets/fonts/lunchtype22-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/lunchtype22-regular-webfont.svg#lunchtype22regular') format('svg');
    font-weight: 400;
    font-style: normal;

}