@font-face {
    font-family: 'reckless';
    src: url('RecklessTRIAL-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reckless';
    src: url('RecklessTRIAL-Bold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'reckless';
    src: url('RecklessTRIAL-Medium.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'reckless';
    src: url('RecklessTRIAL-SemiBold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'reckless';
    src: url('RecklessTRIAL-Heavy.otf') format("opentype");
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'reckless';
    src: url('RecklessTRIAL-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}