html {
  font-size: 14pt;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

button, input {
  outline: none;
}
ul, ol, li { 
  list-style: none;
}

ul, ol {
  margin-bottom: 1.2rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin-bottom: 1.2rem;
  hyphens: auto;
  text-align: justify
}

.compact p {
  margin-bottom: 0;
  hyphens: auto;
  text-align: inherit;
}

.compact ul, .compact ol {
  margin-bottom: 0;
}

.compact hr {
  margin-bottom: 1.2rem;
  visibility: hidden;
}

.container {
  padding-top: 4.5rem;
}

.undo-container {
  margin-top: -4.5rem;
}

.undo-bottom {
  margin-bottom: -1rem;
}

.tdu {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><rect width='1' height='1'/></svg>");
  background-repeat: repeat-x;
  background-position: 0 85%;
  background-size: 1px;
  text-decoration: none;
}

.tdu-hover:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><rect width='1' height='1'/></svg>");
  background-repeat: repeat-x;
  background-position: 0 85%;
  background-size: 1px;
  text-decoration: none;
}

.indent-c > :not(:first-child) {
    text-indent: 1rem;
}

.hang-indent {
  text-indent: -1rem;
  padding-left: 1rem;
}

/* Double quote (") marks */
.pull-double{margin-left:-.38em}
.push-double{margin-right:.38em}

/* Single quote (') marks */
.pull-single{margin-left:-.15em}
.push-single{margin-right:.15em}